<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bem vindo ao Recifree!
  </h1>
  <img width="300" alt="Angular Logo" src="https://scontent.frec5-1.fna.fbcdn.net/v/t1.0-1/p200x200/10341636_123523888042255_8369480779608551256_n.jpg?_nc_cat=0&oh=8e044657353bee783f3df6207e9caef7&oe=5B62DAE9">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

